@import "config";
@import "layout/manifest";
@import "modules/manifest";

.primary-color-box{
  padding: .5em;
  @include color-box($primary-color);
  @include col(1/3);
  border: .2em solid $secondary-color;
  color: red;
  h1{
    @include letra($tertiary-color, null, 100);
  }
  @media (max-width: 900px){
    @include stack();
    @include col(4/4);
    margin-bottom: 4em;
  }
}

.primary-color-box-two{
  @include color-box($secondary-color);
  @include col(1/3);
  border: .2em solid $light-grey;
  padding: .5em;
  h1,h2,p{
    @include letra($primary-color, null, 100);
  }
  @media (max-width: 900px){
    @include stack();
    @include col(4/4);
    margin-bottom: 4em;
  }
}

.primary-color-box-three{
  @include color-box($tertiary-color);
  @include col(1/3);
  border: .2em solid $secondary-color;
  padding: .5em;
  h1{
    @include letra($primary-color, null, 100);
  }
  h2,p{
    @include letra($primary-color, null, 100);
  }
  @media (max-width: 900px){
    @include stack();
    @include col(4/4);
    margin-bottom: 4em;
  }
}

.secondary-color-box{
  padding: .5em;
  @include color-box($light-grey);
  @include col(1/3);
  border: .2em solid $secondary-color;
  color: red;
  h1{
    @include letra($tertiary-color, null, 100);
  }
  @media (max-width: 900px){
    @include stack();
    @include col(4/4);
    margin-bottom: 4em;
  }
}

.secondary-color-box-two{
  @include color-box($dark-blue);
  @include col(1/3);
  border: .2em solid $light-grey;
  padding: .5em;
  h1,h2,p{
    @include letra($primary-color, null, 100);
  }
  @media (max-width: 900px){
    @include stack();
    @include col(4/4);
    margin-bottom: 4em;
  }
}

.secondary-color-box-three{
  @include color-box($dark-pink);
  @include col(1/3);
  border: .2em solid $secondary-color;
  padding: .5em;
  h1{
    @include letra($primary-color, null, 100);
  }
  h2,p{
    @include letra($primary-color, null, 100);
  }
  @media (max-width: 900px){
    @include stack();
    @include col(4/4);
    margin-bottom: 4em;
  }
}
