@import "typography/manifest";
.strong{
  @include letra($tertiary-color, 3.5em, 400);
  @media (max-width: 1100px){
    font-size: 2em;
  }
}

.pink-text{
  color: $tertiary-color;
}

.title-text{
  @include letra($tertiary-color, 3.5em, 700);
  margin-top: .2em;
  margin-bottom: .5em;
}

.sub-title-text{
  @include letra($dark-blue, 3.5em, 100);
}

.logo{
  @include letra($primary-color, 3em, 100);
  float: left;
}

.content-container{
  p{
    @include letra($primary-color, null, 100);
  }
}

.primary-color-box{
  @include letra($tertiary-color, null, 100);
}

.primary-color-box-two{
  h1,
  h2,
  p{
    @include letra($primary-color, null, 100);
  }
}

.primary-color-box-three{
  h1,
  h2,
  p{
    @include letra($primary-color, null, 100);
  }
}

.back-to-top{
  h1{
    @include letra($primary-color, 2em, 100);
  }
}
