// only logic code goes in here....
@mixin top-fixed($pos: null, $top: null){
  position: $pos;
  top: $top;
}

@mixin wrap-right($border){
  border-top: $border;
  border-left: $border;
  border-bottom: $border;
}
