extends layout

block content
  div.main-wrapper
    section.main
      h1.title-text Grid
      h2 All layout styles are inside of the /layout directory.
      h3 How it works ?
      p The layout in this page is very basic and simple, we are using
        a.pink-text(href="http://jeet.gs/")
          span  Jeet grid.
        |  Jeet helps you write your code faster & gives
        |  you more flexibility. The grid it's very easy to use. It's a mix of classes and
        |  mixins. Every CSS selector includes a mixin rule that will help you create a more flexible layout.
        | (e.g.,  .full-col{ @include col(4/4) }; ).
      p.strong Demo
      p Full layout
      div.content-container
        div.full-col
          p class="full-col" + @include col(4/4)
        div.full-col
          p.large class="full-col" + @include col(4/4)
        div.half-col-left.hide-on-mobile
          p class="half-col-left" + @include col(1/2)
        div.half-col-right.hide-on-mobile
          p class="half-col-right" + @include col(1/2)
        div.third-col.clearfix
          p.hide-on-mobile class="third-col" + @include col(1/3)
        div.third-col
          p.hide-on-mobile class="third-col" + @include col(1/3)
        div.third-col
          p.hide-on-mobile class="third-col" + @include col(1/3)
      section
        section
          h1.spacing Usage:
          p.spacing HTML
          pre.
            First two columns are full width using the full-col class.

            &lt;span class=&quot;full-col&quot;&gt;&lt;/span&gt;

            &lt;span class=&quot;full-col&quot;&gt;&lt;/span&gt;

            Next two boxes have the half-col-left & half-col-right classes.

            &lt;span class=&quot;half-col-left&quot;&gt;&lt;/span&gt;

            &lt;span class=&quot;half-col-right&quot;&gt;&lt;/span&gt;

            The last three have the third-col class to complete the layout.

            &lt;span class=&quot;third-col&quot;&gt;&lt;/span&gt;

            &lt;span class=&quot;third-col&quot;&gt;&lt;/span&gt;

            &lt;span class=&quot;third-col&quot;&gt;&lt;/span&gt;
        section
          h1.spacing CSS
          p Here we are selecting each layout element and including the mixin.
          pre.
            .full-col{
              @include col(4/4);
            }

            .half-col-left{
              @include col(1/2);
            }

            .half-col-right{
              @include col(1/2);
              margin-right: 0;
            }

            .third-col{
              @include col(1/3);
            }

      hr#responsive.hiding
    section.main.clearfix
      h1.title-text How to make it responsive
      h2 We also care about the accessibilility of our page.
      p Stack helps a lot for Responsive design because it allows elements
        |  to stack on top of each other when they reach a certain breakpoint, providing
        |  a better experience for the user if they are targeting the website from a mobile/tablet device.
      p.strong Demo
      p breakpoint at 900px.
      div.content-container
        div.half-col-left.stack
          p
            span.hide-on-mobile @include col(1/2); &
            |  @include stack();
        div.half-col-right.stack
          p
            span.hide-on-mobile @include col(1/2); &
            |  @include stack();
      section
        h1.spacing Usage:
        p.spacing HTML
        pre.
          &lt;span class=&quot;half-col-left stack&quot;&gt;&lt;/span&gt;

          &lt;span class=&quot;half-col-right stack&quot;&gt;&lt;/span&gt;
        p.spacing CSS
        pre.
          .half-col-left{
            @include col(1/2);
            @include stack();
          }

          .half-col-right{
            @include col(1/2);
            @include stack();
          }



