extends layout

block content
  section.main
    h1.title-text header
    header.module-header
      div.top-box
        h1 test
      //-   ul
      //-     li Home
      //-     li English
      //-     li Icon D-D
      //- div.bottom-box
      //-   section
      //-     h1 Logo
      //-   div
      //-     ul
      //-       li Shop
      //-       li Product
      //-       li Support
      //-       li Artist
      //-       li Education


