extends layout

block content
  div.main-wrapper
    section.main.clearfix
      h1.title-text UI patterns
      p All modules styles are inside of the /modules directory.
      p.strong UI pattern half/view
        div.ui-container.pull-up
          section.ui-eight.clearfix
            h1 UR242
            div
              img(src="/images/img-two.jpg", alt="audio interface")
            section
              h1 Audio Interface
              p Be ready to record music in studio quality on your notebook or iPad with the UR242,
                | featuring integrated DSP-powered FX and the outstanding D-PRE preamp.
              h4
                span.pink-text read more &#10095;
          section
            h1 Usage:
            p.spacing Just include the class="ui-eight" in the parent container and that's it.
            pre.
              &lt;section class=&quot;ui-eight&quot;&gt;
                &lt;h1&gt;UR242&lt;/h1&gt;
                &lt;div&gt;
                  &lt;img src=&quot;/images/img-two.jpg&quot; alt=&quot;audio interface&quot;&gt;
                &lt;/div&gt;
                &lt;section&gt;
                  &lt;h1&gt;Audio Interface&lt;/h1&gt;
                  &lt;p&gt;
                    Be ready to record music in studio quality on your notebook or iPad with the UR242, featuring integrated
                    DSP-powered FX and the outstanding D-PRE preamp.
                  &lt;/p&gt;
                &lt;/section&gt;
              &lt;/section&gt;

    section.main
      p.strong UI pattern third/view
        div.ui-container
          section.ui-four.clearfix
            h1 WaveLab 8.5
            div
              img(src="/images/wavelab.png", alt="wavelab picture")
            section
              h1 Audio Interface
              p WaveLab 8.5 adds valuable features and accelerates workflows for essential audio tasks such as batch processing, file rendering & working with encoders.
              h4
                span.pink-text read more ❯
          section
            h1 Usage:
            p.spacing Just include the class="ui-four" in the parent container and thats's it.
            pre.
              &lt;section class=&quot;ui-four&quot;&gt;
                &lt;h1&gt;WaveLab 8.5&lt;/h1&gt;
                &lt;div&gt;&lt;img src=&quot;/images/wavelab.png&quot; alt=&quot;wavelab picture&quot;&gt;&lt;/div&gt;
                &lt;section&gt;
                  &lt;h1&gt;Audio Interface&lt;/h1&gt;
                  &lt;p&gt;
                    WaveLab 8.5 adds valuable features and accelerates workflows for essential audio tasks such as batch
                    processing, file rendering &amp; working with encoders.
                  &lt;/p&gt;
                  &lt;p&gt;read more &amp;#10095;&lt;/p&gt;
                &lt;/section&gt;
              &lt;/section&gt;
