// only logic code goes in here....
@mixin letra($color: null, $size: null, $weight: null){
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin font-pos($padding){
  padding: $padding;
}
