/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Perform a value into a percentage value.
 * @param {number} $value - The value which should be converted.
 * @returns {number} $value - The percentage.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 1em;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  background: lightslategray; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

video {
  width: 100%; }

h1 {
  color: #444444;
  font-size: 3em;
  font-weight: 100; }

h2 {
  color: #444444;
  font-size: 2.5em;
  font-weight: 100;
  margin: .5em 0; }

h3 {
  color: #444444;
  font-size: 2em;
  font-weight: 100;
  margin: .5em 0; }

h4 {
  color: #444444;
  font-size: 1.8em;
  font-weight: 100;
  margin: .5em 0; }

h5 {
  color: #444444;
  font-size: 1.5em;
  font-weight: 100;
  margin: .5em 0; }

h6 {
  color: #444444;
  font-size: 1.1em;
  font-weight: 100;
  margin: .5em 0; }

p {
  color: #444444;
  font-size: 2em;
  font-weight: 100;
  line-height: 1.4em; }

a, a:active {
  font-weight: 100;
  text-decoration: none;
  color: #ffffff; }
  a:hover, a:active:hover {
    color: #91000f;
    transition: color .5s; }

li {
  color: #444444;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
  margin-left: 1em; }

pre {
  padding: 1em;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  background: grey;
  /* Internet Explorer 5.5+ */
  font-size: 1.8em;
  color: #ffffff;
  box-shadow: 0 0 .3em #AF142D; }
  @media (max-width: 1100px) {
    pre {
      font-size: 1.5em; } }

video {
  margin-bottom: 5em; }

.strong {
  color: #c32841;
  font-size: 3.5em;
  font-weight: 700; }
  @media (max-width: 1100px) {
    .strong {
      font-size: 2em; } }

.pink-text {
  color: #c32841; }

.title-text {
  color: #c32841;
  font-size: 3.5em;
  font-weight: 700;
  margin-top: .2em;
  margin-bottom: .5em; }

.sub-title-text {
  color: #3f4246;
  font-size: 3.5em;
  font-weight: 100; }

.logo {
  color: #ffffff;
  font-size: 3em;
  font-weight: 100;
  float: left; }

.content-container p {
  color: #ffffff;
  font-weight: 100; }

.full-col {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #3f4246;
  margin-bottom: 1em;
  padding: 2em; }
  .full-col:last-child {
    margin-right: 0; }
  .full-col .large {
    padding: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 1100px) {
      .full-col .large {
        padding: 1em; } }

.half-col-left {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em; }
  .half-col-left:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-left {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-left:last-child {
        margin-right: 0; }
      .half-col-left:first-child {
        margin-left: auto; }
      .half-col-left:last-child {
        margin-right: auto; } }

.half-col-right {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em;
  margin-right: 0; }
  .half-col-right:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-right {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-right:last-child {
        margin-right: 0; }
      .half-col-right:first-child {
        margin-left: auto; }
      .half-col-right:last-child {
        margin-right: auto; } }

.third-col {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  padding: 5em;
  background: #3f4246;
  margin-bottom: 2em; }
  .third-col:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .third-col {
      padding: 2em; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.main-wrapper {
  transition: margin-top .5s; }

.main {
  float: left;
  clear: none;
  width: 65.6666666667%;
  margin-left: 0;
  margin-right: 3%;
  margin-top: 11em;
  margin-bottom: .5em;
  background: #ffffff;
  float: right;
  margin-right: 0;
  border: 1px solid #c32841;
  transition: margin-top .2s;
  padding: 2em; }
  .main:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .main {
      width: auto;
      max-width: 100%;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      margin-top: 6em;
      padding: 1em;
      margin-bottom: 5em; } }

.container {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  position: fixed;
  top: 0;
  margin-top: 11em;
  transition: margin-top .5s; }
  .container:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .container {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-top: 8.5em;
      background: #ffffff;
      position: absolute; }
      .container:last-child {
        margin-right: 0; } }

.content-container {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: .5em;
  text-align: center; }
  .content-container:last-child {
    margin-right: 0; }

.center {
  width: auto;
  max-width: 80%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: black; }
  .center:last-child {
    margin-right: 0; }

.pull-up {
  margin-top: -1em; }
  @media (max-width: 1100px) {
    .pull-up {
      margin-top: -2em; } }
  @media (max-width: 500px) {
    .pull-up {
      margin-top: 1.5em; } }

.push-down {
  margin-top: 6.5em; }

.spacing {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 400; }

header {
  position: fixed;
  top: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #AF142D;
  z-index: 5;
  overflow: hidden; }
  header:last-child {
    margin-right: 0; }

.module-header {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  position: static;
  box-shadow: 0 0 .3em #AF142D;
  background: #ffffff; }
  .module-header:last-child {
    margin-right: 0; }

.company-logo {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  width: 20%; }

.top-navigation-mod {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  float: right; }
  .top-navigation-mod li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }

.bottom-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .bottom-box:last-child {
    margin-right: 0; }
  .bottom-box:first-child {
    margin-left: auto; }
  .bottom-box:last-child {
    margin-right: auto; }
  .bottom-box li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }
    .bottom-box li:last-child {
      border-bottom: .2em solid #AF142D; }

.globe-icon {
  width: 12%; }
  @media (max-width: 600px) {
    .globe-icon {
      display: none; } }

.top-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .top-box:last-child {
    margin-right: 0; }
  .top-box:first-child {
    margin-left: auto; }
  .top-box:last-child {
    margin-right: auto; }

.main-footer {
  width: 34.4%;
  background: #c32841;
  position: fixed;
  bottom: 0;
  text-align: center; }
  @media (max-width: 1100px) {
    .main-footer {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%; }
      .main-footer:last-child {
        margin-right: 0; } }

.module-footer {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: 1em;
  background: #444444; }
  .module-footer:last-child {
    margin-right: 0; }

.related-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em; }
  .related-box:last-child {
    margin-right: 0; }
  .related-box:first-child {
    margin-left: auto; }
  .related-box:last-child {
    margin-right: auto; }

.top-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .top-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 500px) {
      .top-left li {
        font-size: 1em; } }

.social-box {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .social-box img {
    width: 10%;
    margin-right: .5em;
    float: right; }

.copyrights-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: .1em solid grey; }
  .copyrights-box:last-child {
    margin-right: 0; }
  .copyrights-box:first-child {
    margin-left: auto; }
  .copyrights-box:last-child {
    margin-right: auto; }

.copy-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 1100px) {
      .copy-left li {
        padding: 0;
        font-size: 1em; } }

.copy-right {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-right li {
    display: inline-block;
    color: #ffffff;
    float: right; }
    @media (max-width: 1100px) {
      .copy-right li {
        padding: 0;
        font-size: 1em; } }

.logo-pic {
  float: left; }
  @media (max-width: 500px) {
    .logo-pic {
      width: 80%; } }

.menu-icon {
  float: right;
  font-size: 3em;
  color: white;
  cursor: pointer; }
  @media (max-width: 1100px) {
    .menu-icon {
      display: block; } }

.link-to {
  float: left;
  clear: none;
  width: 33.3333333333%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em; }
  .link-to:first-child {
    margin-left: auto; }
  .link-to:last-child {
    margin-right: auto; }

.ui-container {
  padding: 5em; }
  @media (max-width: 1100px) {
    .ui-container {
      padding: 5em; } }
  @media (max-width: 500px) {
    .ui-container {
      padding: 1em;
      margin-bottom: 6em; } }

.copyrights {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100; }

.index-container {
  text-align: center; }

.code-sample-box {
  margin-top: 5em; }

.hiding {
  visibility: hidden; }

@media (max-width: 1100px) {
  .hide-on-mobile {
    display: none; } }

.hide-on-desktop {
  display: none; }

.back-to-top {
  position: fixed;
  padding: .5em;
  right: 0;
  bottom: 0;
  background: #c32841;
  cursor: pointer;
  transition: bottom .5s; }
  @media (max-width: 1100px) {
    .back-to-top {
      bottom: 2em; } }
  .back-to-top h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 100; }

.hidden-nav {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  position: fixed;
  top: 0;
  background: #c32841;
  z-index: 5;
  margin-top: 4.5em;
  display: none; }
  .hidden-nav:last-child {
    margin-right: 0; }

.hidden-list li {
  display: inline-block;
  margin: 1em;
  font-size: 1.5em;
  color: #ffffff;
  color: white; }
  @media (max-width: 500px) {
    .hidden-list li {
      color: #ffffff;
      font-size: 2em;
      font-weight: 400;
      display: block;
      margin: .5em; } }

.ui-eight {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #ffffff;
  padding: 1.5em;
  box-shadow: 0 0 1em grey;
  margin-bottom: 2em; }
  .ui-eight:last-child {
    margin-right: 0; }
  .ui-eight h1 {
    color: #444444;
    font-weight: 800; }
  .ui-eight div {
    padding: 4em; }
  .ui-eight h4 {
    color: #444444;
    font-weight: 100;
    float: right; }
  @media (max-width: 1100px) {
    .ui-eight {
      font-size: .8em; } }
  @media (max-width: 500px) {
    .ui-eight {
      font-size: .9em; } }

.ui-four {
  width: auto;
  max-width: 60%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  padding: 1.5em;
  box-shadow: 0 0 1em grey;
  margin-bottom: 2em; }
  .ui-four h1 {
    color: #444444;
    font-weight: 800; }
  .ui-four div {
    padding: 4em; }
  .ui-four h4 {
    color: #444444;
    font-weight: 100;
    float: right; }
  @media (max-width: 1100px) {
    .ui-four {
      width: auto;
      max-width: 95%;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      padding: .5em; } }
  @media (max-width: 1100px) {
    .ui-four {
      font-size: .8em; } }
  @media (max-width: 500px) {
    .ui-four {
      font-size: .9em; } }

.full-col {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #3f4246;
  margin-bottom: 1em;
  padding: 2em; }
  .full-col:last-child {
    margin-right: 0; }
  .full-col .large {
    padding: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 1100px) {
      .full-col .large {
        padding: 1em; } }

.half-col-left {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em; }
  .half-col-left:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-left {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-left:last-child {
        margin-right: 0; }
      .half-col-left:first-child {
        margin-left: auto; }
      .half-col-left:last-child {
        margin-right: auto; } }

.half-col-right {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em;
  margin-right: 0; }
  .half-col-right:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-right {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-right:last-child {
        margin-right: 0; }
      .half-col-right:first-child {
        margin-left: auto; }
      .half-col-right:last-child {
        margin-right: auto; } }

.third-col {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  padding: 5em;
  background: #3f4246;
  margin-bottom: 2em; }
  .third-col:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .third-col {
      padding: 2em; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.main-wrapper {
  transition: margin-top .5s; }

.main {
  float: left;
  clear: none;
  width: 65.6666666667%;
  margin-left: 0;
  margin-right: 3%;
  margin-top: 11em;
  margin-bottom: .5em;
  background: #ffffff;
  float: right;
  margin-right: 0;
  border: 1px solid #c32841;
  transition: margin-top .2s;
  padding: 2em; }
  .main:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .main {
      width: auto;
      max-width: 100%;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      margin-top: 6em;
      padding: 1em;
      margin-bottom: 5em; } }

.container {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  position: fixed;
  top: 0;
  margin-top: 11em;
  transition: margin-top .5s; }
  .container:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .container {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-top: 8.5em;
      background: #ffffff;
      position: absolute; }
      .container:last-child {
        margin-right: 0; } }

.content-container {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: .5em;
  text-align: center; }
  .content-container:last-child {
    margin-right: 0; }

.center {
  width: auto;
  max-width: 80%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: black; }
  .center:last-child {
    margin-right: 0; }

.pull-up {
  margin-top: -1em; }
  @media (max-width: 1100px) {
    .pull-up {
      margin-top: -2em; } }
  @media (max-width: 500px) {
    .pull-up {
      margin-top: 1.5em; } }

.push-down {
  margin-top: 6.5em; }

.spacing {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 400; }

header {
  position: fixed;
  top: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #AF142D;
  z-index: 5;
  overflow: hidden; }
  header:last-child {
    margin-right: 0; }

.module-header {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  position: static;
  box-shadow: 0 0 .3em #AF142D;
  background: #ffffff; }
  .module-header:last-child {
    margin-right: 0; }

.company-logo {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  width: 20%; }

.top-navigation-mod {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  float: right; }
  .top-navigation-mod li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }

.bottom-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .bottom-box:last-child {
    margin-right: 0; }
  .bottom-box:first-child {
    margin-left: auto; }
  .bottom-box:last-child {
    margin-right: auto; }
  .bottom-box li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }
    .bottom-box li:last-child {
      border-bottom: .2em solid #AF142D; }

.globe-icon {
  width: 12%; }
  @media (max-width: 600px) {
    .globe-icon {
      display: none; } }

.top-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .top-box:last-child {
    margin-right: 0; }
  .top-box:first-child {
    margin-left: auto; }
  .top-box:last-child {
    margin-right: auto; }

.main-footer {
  width: 34.4%;
  background: #c32841;
  position: fixed;
  bottom: 0;
  text-align: center; }
  @media (max-width: 1100px) {
    .main-footer {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%; }
      .main-footer:last-child {
        margin-right: 0; } }

.module-footer {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: 1em;
  background: #444444; }
  .module-footer:last-child {
    margin-right: 0; }

.related-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em; }
  .related-box:last-child {
    margin-right: 0; }
  .related-box:first-child {
    margin-left: auto; }
  .related-box:last-child {
    margin-right: auto; }

.top-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .top-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 500px) {
      .top-left li {
        font-size: 1em; } }

.social-box {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .social-box img {
    width: 10%;
    margin-right: .5em;
    float: right; }

.copyrights-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: .1em solid grey; }
  .copyrights-box:last-child {
    margin-right: 0; }
  .copyrights-box:first-child {
    margin-left: auto; }
  .copyrights-box:last-child {
    margin-right: auto; }

.copy-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 1100px) {
      .copy-left li {
        padding: 0;
        font-size: 1em; } }

.copy-right {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-right li {
    display: inline-block;
    color: #ffffff;
    float: right; }
    @media (max-width: 1100px) {
      .copy-right li {
        padding: 0;
        font-size: 1em; } }

.logo-pic {
  float: left; }
  @media (max-width: 500px) {
    .logo-pic {
      width: 80%; } }

.menu-icon {
  float: right;
  font-size: 3em;
  color: white;
  cursor: pointer; }
  @media (max-width: 1100px) {
    .menu-icon {
      display: block; } }

.link-to {
  float: left;
  clear: none;
  width: 33.3333333333%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em; }
  .link-to:first-child {
    margin-left: auto; }
  .link-to:last-child {
    margin-right: auto; }

.ui-container {
  padding: 5em; }
  @media (max-width: 1100px) {
    .ui-container {
      padding: 5em; } }
  @media (max-width: 500px) {
    .ui-container {
      padding: 1em;
      margin-bottom: 6em; } }

.copyrights {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100; }

.index-container {
  text-align: center; }

.code-sample-box {
  margin-top: 5em; }

.full-col {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #3f4246;
  margin-bottom: 1em;
  padding: 2em; }
  .full-col:last-child {
    margin-right: 0; }
  .full-col .large {
    padding: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 1100px) {
      .full-col .large {
        padding: 1em; } }

.half-col-left {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em; }
  .half-col-left:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-left {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-left:last-child {
        margin-right: 0; }
      .half-col-left:first-child {
        margin-left: auto; }
      .half-col-left:last-child {
        margin-right: auto; } }

.half-col-right {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em;
  margin-right: 0; }
  .half-col-right:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-right {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-right:last-child {
        margin-right: 0; }
      .half-col-right:first-child {
        margin-left: auto; }
      .half-col-right:last-child {
        margin-right: auto; } }

.third-col {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  padding: 5em;
  background: #3f4246;
  margin-bottom: 2em; }
  .third-col:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .third-col {
      padding: 2em; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.main-wrapper {
  transition: margin-top .5s; }

.main {
  float: left;
  clear: none;
  width: 65.6666666667%;
  margin-left: 0;
  margin-right: 3%;
  margin-top: 11em;
  margin-bottom: .5em;
  background: #ffffff;
  float: right;
  margin-right: 0;
  border: 1px solid #c32841;
  transition: margin-top .2s;
  padding: 2em; }
  .main:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .main {
      width: auto;
      max-width: 100%;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      margin-top: 6em;
      padding: 1em;
      margin-bottom: 5em; } }

.container {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  position: fixed;
  top: 0;
  margin-top: 11em;
  transition: margin-top .5s; }
  .container:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .container {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-top: 8.5em;
      background: #ffffff;
      position: absolute; }
      .container:last-child {
        margin-right: 0; } }

.content-container {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: .5em;
  text-align: center; }
  .content-container:last-child {
    margin-right: 0; }

.center {
  width: auto;
  max-width: 80%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: black; }
  .center:last-child {
    margin-right: 0; }

.pull-up {
  margin-top: -1em; }
  @media (max-width: 1100px) {
    .pull-up {
      margin-top: -2em; } }
  @media (max-width: 500px) {
    .pull-up {
      margin-top: 1.5em; } }

.push-down {
  margin-top: 6.5em; }

.spacing {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 400; }

header {
  position: fixed;
  top: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #AF142D;
  z-index: 5;
  overflow: hidden; }
  header:last-child {
    margin-right: 0; }

.module-header {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  position: static;
  box-shadow: 0 0 .3em #AF142D;
  background: #ffffff; }
  .module-header:last-child {
    margin-right: 0; }

.company-logo {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  width: 20%; }

.top-navigation-mod {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  float: right; }
  .top-navigation-mod li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }

.bottom-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .bottom-box:last-child {
    margin-right: 0; }
  .bottom-box:first-child {
    margin-left: auto; }
  .bottom-box:last-child {
    margin-right: auto; }
  .bottom-box li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }
    .bottom-box li:last-child {
      border-bottom: .2em solid #AF142D; }

.globe-icon {
  width: 12%; }
  @media (max-width: 600px) {
    .globe-icon {
      display: none; } }

.top-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .top-box:last-child {
    margin-right: 0; }
  .top-box:first-child {
    margin-left: auto; }
  .top-box:last-child {
    margin-right: auto; }

.main-footer {
  width: 34.4%;
  background: #c32841;
  position: fixed;
  bottom: 0;
  text-align: center; }
  @media (max-width: 1100px) {
    .main-footer {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%; }
      .main-footer:last-child {
        margin-right: 0; } }

.module-footer {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: 1em;
  background: #444444; }
  .module-footer:last-child {
    margin-right: 0; }

.related-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em; }
  .related-box:last-child {
    margin-right: 0; }
  .related-box:first-child {
    margin-left: auto; }
  .related-box:last-child {
    margin-right: auto; }

.top-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .top-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 500px) {
      .top-left li {
        font-size: 1em; } }

.social-box {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .social-box img {
    width: 10%;
    margin-right: .5em;
    float: right; }

.copyrights-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: .1em solid grey; }
  .copyrights-box:last-child {
    margin-right: 0; }
  .copyrights-box:first-child {
    margin-left: auto; }
  .copyrights-box:last-child {
    margin-right: auto; }

.copy-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 1100px) {
      .copy-left li {
        padding: 0;
        font-size: 1em; } }

.copy-right {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-right li {
    display: inline-block;
    color: #ffffff;
    float: right; }
    @media (max-width: 1100px) {
      .copy-right li {
        padding: 0;
        font-size: 1em; } }

.logo-pic {
  float: left; }
  @media (max-width: 500px) {
    .logo-pic {
      width: 80%; } }

.menu-icon {
  float: right;
  font-size: 3em;
  color: white;
  cursor: pointer; }
  @media (max-width: 1100px) {
    .menu-icon {
      display: block; } }

.link-to {
  float: left;
  clear: none;
  width: 33.3333333333%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em; }
  .link-to:first-child {
    margin-left: auto; }
  .link-to:last-child {
    margin-right: auto; }

.ui-container {
  padding: 5em; }
  @media (max-width: 1100px) {
    .ui-container {
      padding: 5em; } }
  @media (max-width: 500px) {
    .ui-container {
      padding: 1em;
      margin-bottom: 6em; } }

.copyrights {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100; }

.index-container {
  text-align: center; }

.code-sample-box {
  margin-top: 5em; }

.list {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }
  .list:last-child {
    margin-right: 0; }
  .list:first-child {
    margin-left: auto; }
  .list:last-child {
    margin-right: auto; }

.list-item h1 {
  color: #444444;
  font-weight: 100;
  margin-left: .5em; }
  .list-item h1:hover {
    color: #c32841;
    transition: color .5s;
    cursor: pointer; }
.list-item a {
  color: #AF142D;
  font-weight: 100; }

.normal-list {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  background: #ffffff;
  box-shadow: 0 0 .8em; }
  .normal-list:last-child {
    margin-right: 0; }
  .normal-list li {
    color: black;
    font-weight: 400;
    list-style: disc inside; }
    .normal-list li:first-child {
      border-bottom: .1em solid #3f4246; }
  @media (max-width: 1100px) {
    .normal-list {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%; }
      .normal-list:last-child {
        margin-right: 0; } }

.inline-list {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  text-align: center; }
  .inline-list:last-child {
    margin-right: 0; }
  .inline-list li {
    float: left;
    clear: none;
    width: 33.3333333333%;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    padding: 2em;
    color: #ffffff;
    background: #3f4246;
    margin-left: 0;
    border-right: .1em solid #ffffff; }
    .inline-list li:hover {
      background: #494c50;
      transition: background .5s; }

.drop {
  cursor: pointer; }

.dropdown-list {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  padding: 1em;
  background: #ffffff;
  display: none;
  box-shadow: 0 0 .5em;
  height: 0; }
  .dropdown-list:last-child {
    margin-right: 0; }
  .dropdown-list li {
    color: #444444;
    font-weight: 400; }
    .dropdown-list li:first-child {
      border-bottom: .1em solid #3f4246; }
  @media (max-width: 1100px) {
    .dropdown-list {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%; }
      .dropdown-list:last-child {
        margin-right: 0; } }

.icon-list {
  background: #c32841;
  padding: 8em; }
  @media (max-width: 1100px) {
    .icon-list {
      padding: 5em; } }

.icons {
  float: left;
  clear: none;
  width: 22.75%;
  margin-left: 0;
  margin-right: 3%; }
  .icons:last-child {
    margin-right: 0; }

.full-col {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #3f4246;
  margin-bottom: 1em;
  padding: 2em; }
  .full-col:last-child {
    margin-right: 0; }
  .full-col .large {
    padding: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 1100px) {
      .full-col .large {
        padding: 1em; } }

.half-col-left {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em; }
  .half-col-left:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-left {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-left:last-child {
        margin-right: 0; }
      .half-col-left:first-child {
        margin-left: auto; }
      .half-col-left:last-child {
        margin-right: auto; } }

.half-col-right {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  height: 15em;
  background: #3f4246;
  margin-bottom: 1em;
  margin-right: 0; }
  .half-col-right:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .half-col-right {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 4em; }
      .half-col-right:last-child {
        margin-right: 0; }
      .half-col-right:first-child {
        margin-left: auto; }
      .half-col-right:last-child {
        margin-right: auto; } }

.third-col {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  padding: 5em;
  background: #3f4246;
  margin-bottom: 2em; }
  .third-col:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .third-col {
      padding: 2em; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.main-wrapper {
  transition: margin-top .5s; }

.main {
  float: left;
  clear: none;
  width: 65.6666666667%;
  margin-left: 0;
  margin-right: 3%;
  margin-top: 11em;
  margin-bottom: .5em;
  background: #ffffff;
  float: right;
  margin-right: 0;
  border: 1px solid #c32841;
  transition: margin-top .2s;
  padding: 2em; }
  .main:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .main {
      width: auto;
      max-width: 100%;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      margin-top: 6em;
      padding: 1em;
      margin-bottom: 5em; } }

.container {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  position: fixed;
  top: 0;
  margin-top: 11em;
  transition: margin-top .5s; }
  .container:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .container {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-top: 8.5em;
      background: #ffffff;
      position: absolute; }
      .container:last-child {
        margin-right: 0; } }

.content-container {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: .5em;
  text-align: center; }
  .content-container:last-child {
    margin-right: 0; }

.center {
  width: auto;
  max-width: 80%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: black; }
  .center:last-child {
    margin-right: 0; }

.pull-up {
  margin-top: -1em; }
  @media (max-width: 1100px) {
    .pull-up {
      margin-top: -2em; } }
  @media (max-width: 500px) {
    .pull-up {
      margin-top: 1.5em; } }

.push-down {
  margin-top: 6.5em; }

.spacing {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 400; }

header {
  position: fixed;
  top: 0;
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  background: #AF142D;
  z-index: 5;
  overflow: hidden; }
  header:last-child {
    margin-right: 0; }

.module-header {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  position: static;
  box-shadow: 0 0 .3em #AF142D;
  background: #ffffff; }
  .module-header:last-child {
    margin-right: 0; }

.company-logo {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  width: 20%; }

.top-navigation-mod {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  float: right; }
  .top-navigation-mod li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }

.bottom-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .bottom-box:last-child {
    margin-right: 0; }
  .bottom-box:first-child {
    margin-left: auto; }
  .bottom-box:last-child {
    margin-right: auto; }
  .bottom-box li {
    color: #444444;
    font-weight: 400;
    display: inline-block;
    float: right; }
    .bottom-box li:last-child {
      border-bottom: .2em solid #AF142D; }

.globe-icon {
  width: 12%; }
  @media (max-width: 600px) {
    .globe-icon {
      display: none; } }

.top-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .top-box:last-child {
    margin-right: 0; }
  .top-box:first-child {
    margin-left: auto; }
  .top-box:last-child {
    margin-right: auto; }

.main-footer {
  width: 34.4%;
  background: #c32841;
  position: fixed;
  bottom: 0;
  text-align: center; }
  @media (max-width: 1100px) {
    .main-footer {
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%; }
      .main-footer:last-child {
        margin-right: 0; } }

.module-footer {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  padding: 1em;
  background: #444444; }
  .module-footer:last-child {
    margin-right: 0; }

.related-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em; }
  .related-box:last-child {
    margin-right: 0; }
  .related-box:first-child {
    margin-left: auto; }
  .related-box:last-child {
    margin-right: auto; }

.top-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .top-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 500px) {
      .top-left li {
        font-size: 1em; } }

.social-box {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  .social-box img {
    width: 10%;
    margin-right: .5em;
    float: right; }

.copyrights-box {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: .1em solid grey; }
  .copyrights-box:last-child {
    margin-right: 0; }
  .copyrights-box:first-child {
    margin-left: auto; }
  .copyrights-box:last-child {
    margin-right: auto; }

.copy-left {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-left li {
    display: inline-block;
    color: #ffffff; }
    @media (max-width: 1100px) {
      .copy-left li {
        padding: 0;
        font-size: 1em; } }

.copy-right {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding: 2em; }
  .copy-right li {
    display: inline-block;
    color: #ffffff;
    float: right; }
    @media (max-width: 1100px) {
      .copy-right li {
        padding: 0;
        font-size: 1em; } }

.logo-pic {
  float: left; }
  @media (max-width: 500px) {
    .logo-pic {
      width: 80%; } }

.menu-icon {
  float: right;
  font-size: 3em;
  color: white;
  cursor: pointer; }
  @media (max-width: 1100px) {
    .menu-icon {
      display: block; } }

.link-to {
  float: left;
  clear: none;
  width: 33.3333333333%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em; }
  .link-to:first-child {
    margin-left: auto; }
  .link-to:last-child {
    margin-right: auto; }

.ui-container {
  padding: 5em; }
  @media (max-width: 1100px) {
    .ui-container {
      padding: 5em; } }
  @media (max-width: 500px) {
    .ui-container {
      padding: 1em;
      margin-bottom: 6em; } }

.copyrights {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100; }

.index-container {
  text-align: center; }

.code-sample-box {
  margin-top: 5em; }

.primary-color-box {
  padding: .5em;
  background: #ffffff;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  border: .2em solid #444444;
  color: red; }
  .primary-color-box:last-child {
    margin-right: 0; }
  .primary-color-box h1 {
    color: #c32841;
    font-weight: 100; }
  @media (max-width: 1100px) {
    .primary-color-box {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-bottom: 4em; }
      .primary-color-box:first-child {
        margin-left: auto; }
      .primary-color-box:last-child {
        margin-right: auto; }
      .primary-color-box:last-child {
        margin-right: 0; } }

.primary-color-box-two {
  background: #444444;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  border: .2em solid #ECECEC;
  padding: .5em; }
  .primary-color-box-two:last-child {
    margin-right: 0; }
  .primary-color-box-two h1, .primary-color-box-two h2, .primary-color-box-two p {
    color: #ffffff;
    font-weight: 100; }
  @media (max-width: 1100px) {
    .primary-color-box-two {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-bottom: 4em; }
      .primary-color-box-two:first-child {
        margin-left: auto; }
      .primary-color-box-two:last-child {
        margin-right: auto; }
      .primary-color-box-two:last-child {
        margin-right: 0; } }

.primary-color-box-three {
  background: #c32841;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  border: .2em solid #444444;
  padding: .5em; }
  .primary-color-box-three:last-child {
    margin-right: 0; }
  .primary-color-box-three h1 {
    color: #ffffff;
    font-weight: 100; }
  .primary-color-box-three h2, .primary-color-box-three p {
    color: #ffffff;
    font-weight: 100; }
  @media (max-width: 1100px) {
    .primary-color-box-three {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-bottom: 4em; }
      .primary-color-box-three:first-child {
        margin-left: auto; }
      .primary-color-box-three:last-child {
        margin-right: auto; }
      .primary-color-box-three:last-child {
        margin-right: 0; } }

.secondary-color-box {
  padding: .5em;
  background: #ECECEC;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  border: .2em solid #444444;
  color: red; }
  .secondary-color-box:last-child {
    margin-right: 0; }
  .secondary-color-box h1 {
    color: #c32841;
    font-weight: 100; }
  @media (max-width: 1100px) {
    .secondary-color-box {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-bottom: 4em; }
      .secondary-color-box:first-child {
        margin-left: auto; }
      .secondary-color-box:last-child {
        margin-right: auto; }
      .secondary-color-box:last-child {
        margin-right: 0; } }

.secondary-color-box-two {
  background: #3f4246;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  border: .2em solid #ECECEC;
  padding: .5em; }
  .secondary-color-box-two:last-child {
    margin-right: 0; }
  .secondary-color-box-two h1, .secondary-color-box-two h2, .secondary-color-box-two p {
    color: #ffffff;
    font-weight: 100; }
  @media (max-width: 1100px) {
    .secondary-color-box-two {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-bottom: 4em; }
      .secondary-color-box-two:first-child {
        margin-left: auto; }
      .secondary-color-box-two:last-child {
        margin-right: auto; }
      .secondary-color-box-two:last-child {
        margin-right: 0; } }

.secondary-color-box-three {
  background: #AF142D;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
  border: .2em solid #444444;
  padding: .5em; }
  .secondary-color-box-three:last-child {
    margin-right: 0; }
  .secondary-color-box-three h1 {
    color: #ffffff;
    font-weight: 100; }
  .secondary-color-box-three h2, .secondary-color-box-three p {
    color: #ffffff;
    font-weight: 100; }
  @media (max-width: 1100px) {
    .secondary-color-box-three {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: left;
      clear: none;
      width: 100%;
      margin-left: 0;
      margin-right: 3%;
      margin-bottom: 4em; }
      .secondary-color-box-three:first-child {
        margin-left: auto; }
      .secondary-color-box-three:last-child {
        margin-right: auto; }
      .secondary-color-box-three:last-child {
        margin-right: 0; } }
