// only logic code goes in here....
@mixin inline-list($display: null, $margin: null, $size: null, $color: null){
  display: $display;
  margin: $margin;
  font-size: $size;
  color: $color;
}

@mixin color-box($background){
  background: $background;
}

@mixin wrap-left($border){
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
}

