.logo-pic{
  width: 5%;
  float: left;
  margin-right: 2em;
  @media (max-width: 900px){
    width: 6%;
  }
  @media (max-width: 500px){
    width: 10%;
  }
}

.menu-icon{
  float: right;
  font-size: 3em;
  color: white;
  cursor: pointer;
  @media (max-width: 900px){
    display: block;
  }
}

.link-to{
  @include span(1/3);
  @include stack();
  background: grey;
  padding: 1em;
  margin-bottom: 1em;
}

.ui-container{
  padding: 5em;
  @media (max-width: 900px){
    padding: 5em;
  }
  @media (max-width: 500px){
    padding: 1em;
    margin-bottom: 6em;
  }
}

.copyrights{
  @include letra($primary-color, 1.5em, 100);
}

.index-container{
  text-align: center;
}

.code-sample-box{
  margin-top: 5em;
}
