
header{
  @include top-fixed(fixed, 0);
  @include col(4/4);
  padding: .5em;
  background: $dark-pink;
  z-index: 5;
  overflow: hidden;
}

.module-header{
  @include col(4/4);
  @include top-fixed(static, null);
  box-shadow: 0 0 .3em $dark-pink;
  background: $primary-color;
}

.company-logo{
  @include span(1/2);
  width: 20%;
}

.top-navigation-mod{
  @include span(1/2);
  float: right;
  li{
    @include letra($secondary-color, null, 400);
    display: inline-block;
    float: right;
  }
}

.bottom-box{
  @include col(4/4);
  @include stack();
  li{
    @include letra($secondary-color, null, 400);
    display: inline-block;
    float: right;
    &:last-child{
      border-bottom: .2em solid $dark-pink;
    }
  }
}

.globe-icon{
  width: 12%;
  @media(max-width: 600px){
    display: none;
  }
}

.top-box{
  @include col(4/4);
  @include stack();
}
